*{
    box-sizing: border-box;
}
body{
    margin: 80px 0;
    background-color: #244;
}
form input{
    width: 100%;
    font: 400 1em/30px sans-serif;
    margin: 10px 0;
    display: block;
    border: 1px solid #ddd;
    padding: 0 5px;
}
form input[type="submit"]{
    width: 10em;
    background-color: #244;
    color: #fff;
    border: 1px solid #244;
}
form input[type="submit"]:hover{
    color: #244;
    cursor: pointer;
    background-color: #fff;
}
.top-bar{
    background-color: #444;
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    font: 400 1.25em/40px sans-serif;
    padding: 0 25px;
}
.top-bar .menu{
    float: right;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 0 15px;
    width: 7em;
    cursor: pointer;
    display: block;
    text-align: right;
}
.top-bar .menu.open{
    background-color: #333;
    border-bottom: 1px solid #444;
}
.top-bar .menu:hover{
    text-decoration: underline;
}
.top-bar .menu .items{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}
.top-bar .menu.open .items{
    display: block;
    background-color: #333;
    border-top: 1px solid #444;
}
.top-bar .menu .item{
    width: 7em;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #444
}
.top-bar .menu .item:hover{
    text-decoration: underline;
}
.login-wdg{
    width:100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1em;
}
.task-wdg{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1em;
    overflow: hidden;
}
.task-wdg .title-cmp{
    font: 700 1em/1em sans-serif;
    color: #444;
    border-bottom: 1px solid #ddd;
}
.title-cmp .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-cmp .text{
    padding: 16px;
    display: block;
}
.title-cmp .date-text{
    width: 7em;
    text-align: center;
    display: inline-block;
}
.title-cmp .date,
.title-cmp .time{
    padding: 8px;
    font-size: .8em;
}
.title-cmp .date:hover,
.title-cmp .time#task-time:hover,
.title-cmp .text#item-text:hover{
    text-decoration: underline;
    cursor: pointer;
}
.title-cmp .back-arrow{
    background-color: #244;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 3em;
    padding: .5em;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    border: 1px solid #244
}
.title-cmp .back-arrow:hover{
    color: #244;
    background-color: #fff;
    border: 1px solid #244;
}
.task-cmp{
    display: flex;
    display: -ms-flexbox;
}
.task-cmp a{
    color: #244;
    text-decoration: none;
    display: inline-block;
    padding: .5em;
    font: 300 1em/1em sans-serif;
    border-bottom: 1px solid #ddd;
}
.task-cmp a:hover{
    color: #fff;
    background-color: #244;
}
.task-cmp a:nth-of-type(2){
    flex: 1;
}
.task-cmp .close{
    width: 3em;
    text-align: center;
}
.task-cmp .time{
    display: inline-block;
    width: 5em;
}
.task-cmp .text{
    display: inline-block;
    width: calc(100% - 5em);
}
.editor-cmp{
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75)
}
.editor-cmp.visible{
    display: flex !important;
}
.editor-cmp .wrap{
    background-color: #fff;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1em;
}
.editor-cmp .close{
    cursor: pointer;
    background-color: #244;
    border: 1px solid #244;
    color: #fff;
    width: 3em;
    text-align: center;
    padding: .5em;
}
.editor-cmp .close:hover{
    color: #244;
    background-color: #fff;
}
.day-cmp{
    width: calc(100% / 7);
    display: block;
    float: left;
    height: auto;
    border: 1px solid #244;
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.day-cmp:hover,
.day-cmp.today{
    color: #fff;
    background-color: #244;
}
.day-cmp .day-number{
    line-height: 1.25em;
    height: 1.25em;
    display: block;
}
.day-cmp .day-hrs{
    display: block;
    margin-top: 5px;
    text-align: right;
    font-size: .75em;
    line-height: 1.25em;
    height: 1.25em;
}
.day-titles span{
    width: calc(100% / 7);
    display: block;
    float: left;
    text-align: center;
    padding: 10px;
    color: #333;
}
.day-cmp .day-item{
    display: block;
    width: 100%;
    overflow: hidden;
    height: 1.25em;
    font-size: .75em;
}
@media(max-width: 800px){
    .day-cmp .day-item{
        display: none;
    }
}